{% extends "base_content.html" %}
<!-- user.html -->
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load smart_if %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block forestyle%}
    <style type="text/css">
 		.history-table td { padding: 5px; }
 		.user-stats-table { margin-left:50px; }
	</style>
{% endblock %}
{% block forejs %}
    {% if request.user.is_superuser or request.user == view_user %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.4/jquery.min.js" integrity="sha512-tcexmm0PBc+jOn9UwbgHVpjZIleEKXif1MCkzgNfVjhXKDxwYumrCOxhZ5tIaXHz2DpEE14hfjFn5J+tpaFSCg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js" integrity="sha512-leN1LJ2B5s9cBINeKL5bbT3cQvOebXsezoYGyuMq9oaytpFJgJ1uBOU86lJZObKTFLbMHqP0zFXR/1N6Nnlskw==" crossorigin="anonymous"></script>
        <script type="text/javascript">
            response_commands['update_profile_karma'] = function(new_karma) {
                $('#user-reputation').css('background', 'yellow');
                $('#user-reputation').html(new_karma);
                $('#user-reputation').animate({ backgroundColor: "transparent" }, 1000);
            }
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.24/themes/base/jquery-ui.min.css" integrity="sha512-Lzjd1ELD6YCIwIU5uaJldvbibV5Fi7HThNZjrwJHALBJRT6q2a6ndgi8TNgcKcUqGsH6bpT7xyTEi8qRzN1ASg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.24/themes/base/jquery.ui.theme.min.css" integrity="sha512-BLVMxLmRDKZgx5GBHNkXJuKBi6D6YOdXN2wUF61yEyF29JIwzU6Z82ZlfpgR+he6XHDh7PspMNNcurw4uk3ZcA==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% media "/media/style/user.css" %}"/>
    {% endif %}
    <style type="text/css">
        #room {
            border: 0;
        }
    </style>
    {% block userjs %}{% endblock %}
{% endblock %}
{% block content %}
    <div id="mainbar-full">
        {% include "users/info.html" %}
        {% include "users/tabs.html" %}
        {% block usercontent %}
        {% endblock %}
	</div>
{% endblock %}<!-- end user.html -->
